<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utc.cards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-feature android:name="android.hardware.screen.landscape" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.utc.cards.CardsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="jade.android.MicroRuntimeService" />

        <activity
            android:name="com.utc.cards.common.view.impl.CardsActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.utc.cards.table.view.TableSelectGameActivity"
            android:label="@string/title_activity_select_game" >
        </activity>
        <activity
            android:name="com.utc.cards.table.view.TableLaunchGameActivity"
            android:label="@string/title_activity_launch_game" >
        </activity>
        <activity
            android:name="com.utc.cards.player.view.PlayerMenuActivity"
            android:label="@string/title_activity_player_menu" >
        </activity>
    </application>

</manifest>